html, body, h1, h2{
    margin: 0;
}

html, body{
    height: 100%;
}

*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

header{
    height: 70px;
    background-color: #0c3866;
    color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 7px#0000000c;
}

.header-logo{
    float: left;
    font-size: 30px;
    margin: 15px 20px;
}

.header-menu{
    float: right;
    margin: 30px;
}

.header-menu a{
    padding: 20px;
}

/* Added by Refsi */

.header-menu a:hover {
    background-color: #fff;
    color: #0C3866;
    transition: ease 1s;
}
/* --- */

.banner{
    height: 500px;
    width: 1200px;
    margin: 100px 400px;
    border-bottom: 2px solid #0c3866;
    text-align: center;
}

/* Added by Refsi */

banner {
  background-color: #fff;
  animation-name: efek-banner;
  animation-duration: 4s;
}

@keyframes efek-banner {
  from {background-color: #9fb4c9;}
  to {background-color: #0C3866;}
}

/* --- */

.banner-img{
    /* width: 60%; */
}

.banner-img img{
    display: inline-block;
    float: left;
    width: 60%;
}

.banner-text{
    width: 40%;
    margin-top: 230px;
    float: right;
    color: #0c3866;
}

.banner-title{
    font-size: 70px;
    font-weight: bold;
}

.banner-desc p{
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
}

  .contact-form {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #71767a;
    font-family: Segoe UI;
  }

.section-title {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-family: Segoe UI;
  }

  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #000;
    font-family: Segoe UI;
  }

.contact-submit {
  background-color: #ffffff;
  color: #000000;
  font-family: Segoe UI;
  cursor: pointer;
}

.footer {
    background-color: #084b92;
    color: #ffffff;
    height: 60px;
    padding: 15px;
    font-family: Segoe UI;
  }

.footer-logo {
    float: left;
    font-size: 15px;
    padding-top: 7px;
    font-family: Segoe UI;
  }

.footer-list a {
    float: right;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    font-family: Segoe UI;
  }

  .footer-list a:hover {
    color: #000000;
  }
